[submodule "av2av-main/fairseq"]
	path = av2av-main/fairseq
	url = https://github.com/facebookresearch/fairseq.git
[submodule "speech-resynthesis"]
	path = speech-resynthesis
	url = https://github.com/facebookresearch/speech-resynthesis.git
